<!doctype html>

<html>
    <head>
        <title>Vielen Dank!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={{ url_for("static", filename="style.css") }}>
    </head>
    

    <body>
        <main>
            <div class="header-img">
                <img src={{ url_for("static", filename="logo.png") }}>
            </div>

            <section>
                <h1>Vielen Dank!</h1>
                <p>Die Angaben wurden gespeichert.<br><br>
                    Bei weiteren Rückfragen kontaktiert uns unter deine@mutter.de
                </p>
            </section>
            <section id="link"><a href={{ url_for("templates", filename="offer.html") }}>Zur&uuml;ck zum Formular</a></section>
            <section id="link"><a href="https://mission-lifeline.de">Zur&uuml;ck zur Homepage von Mission Lifeline</a></section>
        </main>
    </body>
</html>